/**
 * フロントエンドとエディター共通のスタイル
 *
 * サイトの表示画面とエディターの両方に適用されるスタイル
 */

.wp-block-chiilog-term-meta-text-block-term-meta-text-block {
	margin: 0;
	padding: 10px 0;
	line-height: 1.5;
	word-break: break-word;
}
